body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }

  h1, .instruction {
    text-align: center;
  }
  
  
  #quiz {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    display: none;

   
  }

  .question {
    margin-bottom: 20px;
  }
  
  .question h2 {
    margin: 0 0 15px 0;
    font-size: 20px;
  }
  
  .question p {
    margin: 0 0 10px;
  }
  
  .question ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .question li {
    margin-bottom: 10px;
  }
  
  .question li label {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
  }
  
  button#submit-btn, button#start-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  button#submit-btn {
    display: none;
  }
  
  button#submit-btn:hover, button#start-btn:hover {
    background-color: #006080;
  }